.nama p {
  font-weight: bold;
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
/*  padding-top: 27px;*/
}

.nama span {
  font-weight: 700;
  font-size: 10px;
  font-family: "Plus Jakarta Sans";
}

.tanggal p {
/*    margin-top: 27px;*/
font-family: "Plus Jakarta Sans";
font-size: 10px;
}

.judul .resor{
  margin-top: 10px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #0B56A7;
  line-height: 10px;
}

.judul .emplasemen{
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 10px;
}

.judul .data-aset-wesel{
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 10px;
}

th {
  font-size: 9px;
}

td {
  font-size: 9px;
}

.card{
  border: none;
  background-color: transparent;
  --bs-card-spacer-x: 0px;
  width: 300px;
}

.card-img, .card-img-top {
  height: 275px;
  width: 300px;
}

.card-title {
  text-align: center;
  font-size: 9px;
  margin-bottom: -50px;
}

.col-md-6 {
  text-align: center;
  flex: 0 0 auto;
  width: 50%;
/*    margin-right: 20px;*/
display: inline-block;
}