body {
  background-image: url(../src/image/bg-image.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.logo img {
  width: 160px;
  margin-left: 42px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #075785;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.icon {
  padding-right: 10px;
  width: 34px;
  height: auto;
  margin-top: -7px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding-left: 42px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0874B1;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #0874B1;
  color: white;
}

.nama p {
  font-weight: bold;
  font-size: 30px;
  font-family: "Plus Jakarta Sans";
  padding-top: 27px;
}

.nama span {
  font-weight: 700;
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
}

.sub-menu a {
  padding-left: 80px;
}

.table-warning {
  --bs-table-bg: #FB9E12;
}

.table {
  margin-top: 30px;
}

.input-group-text {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #0874B1;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid lightgrey;
}

.col-md-6 {
    margin-top: 2px;
    margin-bottom: 6px;
}

.btn{
  width: 94px;
}

.judul p {
  font-weight: 700;
  font-size: 30px;
  font-family: "Poppins";
  padding-top: 27px;
}

.complete .btn-primary {
  --bs-btn-bg: #01BC08;
  --bs-btn-border-color: #01BC08;
  --bs-btn-disabled-bg: #01BC08;
  --bs-btn-disabled-border-color: #01BC08;
  --bs-btn-disabled-opacity: 1;
}

.incomplete .btn-primary {
  --bs-btn-bg: #F91D0A;
  --bs-btn-border-color: #F91D0A;
  --bs-btn-disabled-bg: #F91D0A;
  --bs-btn-disabled-border-color: #F91D0A;
  --bs-btn-disabled-opacity: 1;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 250px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}