body{
    background-image: url(../src/image/bg-image.webp);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 11.5%;
}

.gambar img{
	width: 190px;
	margin-top: -15px;
	margin-left: -30px;
}

.kai p{
	font-weight: bold;
	font-style: italic;
	font-family: "Plus Jakarta Sans";
}

.judul{
	font-family: "Poppins";
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
}

.pilih{
	text-align: center;
	font-family: "Poppins";
	margin-top: 20px;
}

.img-fluid {
    margin-top: 125px;
    margin-left: 60px;
    position: absolute;
    width: 1147.83px;
    height: 560px;
    left: -445px;
    top: -82.86px;
    transform: rotate(-1.06deg);
}

.btn {
    width: 145px;
    height: 35px;
    background-color: #075785;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn:hover{
    background-color: #55bcf8;
}

.footer p{
	text-align: center;
	margin-top: 20px;
	font-family: "Poppins";
	font-weight: bold;
}

.pt-lg-2 {
    padding-top: 8rem!important;
}

@media screen and (max-width: 780px){
    .gambar img {
	    width: 114px;
	    margin-top: -15px;
	    margin-left: -12px;
	}
	.kai p {
	    font-size: 8.5px;
	    padding-left: 30px;
	}
	.row {
	    margin-right: calc(-5 * var(--bs-gutter-x));
	}
	.img-fluid {
	    margin-top: 149px;
	    margin-left: 60px;
	    position: absolute;
	    width: 1224.83px;
	    height: 242px;
	    left: -61px;
	    top: -72.86px;
	    transform: rotate(-1.06deg);
	}
	.judul {
	    margin-top: 147px;
	}
	.btn {
	    width: 105px;
	    height: 34px;
	}
}